.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .info-icon {
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
 
    text-align: center;

    background-color: #f1f1f1;
    border-radius: 8px;
  }
  
  /* Custom tooltip box */
  .custom-tooltip {
    position: absolute;
    top: 0;
    left: 20px; /* Position tooltip to the right */
    width: 200px;
    height: 100px;
    background-color: #333;
    color: #fff;
    text-align: justify;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
  }
  
  /* Show tooltip on hover */
  .tooltip-container:hover .custom-tooltip {
    opacity: 1;
    pointer-events: auto;
  }
