/* src/components/ChatBox.css */
.chat-container {
  width: 100% !important;
  max-width: 100%;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
}

.chat-header {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
  background-color: #4e7aa780;
  color: white;
  font-weight: bold;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.chat-message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 20px;
  max-width: 75%;
  line-height: 1.4;
}
.chat-header-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.chat-message.Level_1 {
  background-color: #dcf8c6;
  align-self: flex-end;
  margin-left: auto;
}
.chat-message.admin {
  background-color: #ebc59a;
  align-self: flex-end;
  margin-left: auto;
}

.chat-message.Level_2 {
  background-color: #e6e6e6;
  align-self: flex-start;
  margin-right: auto;
}


